@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --black: #000;
    --text: #fff;
    --red: #f44336;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", sans-serif;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    gap: 2rem;
    background-color: var(--black);
    opacity: 0.60;
    padding: 1rem;
    font-size: 1.6rem;
}

.navbar:hover {
    opacity: 1;
}

.navbar__link {
    padding: 0.2rem;
}

.navbar__link:hover {
    background-color: var(--text);
    color: var(--black);
    opacity: 0.8;
}

.header {
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    padding-bottom: 0.1rem;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 13rem;
}

.header__container {
    display: flex;
    justify-content: center;
}

.header__title-first {
    text-align: center;
    display: block;
}

.header__btn {
    padding: 0.8rem 1rem;
    background-color: var(--black);
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    border: none;
}

.header__btn:hover {
    background-color: var(--text);
    opacity: 0.8;
    color: var(--black);
}

.header__bottom {
    padding: 0.5rem 1rem;
    background-color: var(--black);
    width: 20%;
    margin: 1rem 2rem;
    max-width: 200px;
}

.header__bottom-text {
    font-size: 1.5rem;
    text-transform: capitalize;
    white-space: nowrap;
}

.menu {
    background-color: var(--black);
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
}

.menu--bordered {
    border: 0.1px solid var(--text);
}

.menu__title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.menu__sections {
    display: flex;
    background-color: var(--black);
    justify-content: space-between;
}

.menu__tab {
    padding: 1rem 5rem;
    font-size: 2rem;
    flex-grow: 2;
    text-align: center;
    cursor: pointer;
}

.menu__tab:hover {
    background-color: var(--red);
}

.menu__list {
    display: flex;
    flex-direction: column;
    background-color: var(--text);
    color: var(--black);
}

.menu__item {
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1px solid var(--black);
}

.menu__item-tag {
    color: var(--text);
    padding: 0.4rem 1rem;
    font-size: 2rem;
}

.price {
    background-color: var(--black);
    opacity: 0.6;
}

.additional {
    background-color: var(--red);
}

.menu__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item-bottom {
    font-size: 2rem;
}

.about {
    background-color: var(--red);
    filter: grayscale(75%);
    padding: 0 20rem;
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__text {
    display: flex;
    padding: 2rem;
    font-size: 1.5rem;
    justify-content: space-between;
}

.about__image-chef {
    width: 150px;
    border-radius: 50%;
}